<footer>
  <style>
    .f-info-socials a {
      color: black;
      opacity: 0.7;
    }

    .f-info-socials a:hover {
      opacity: 1;
    }
  </style>

  <div class="f-info">
    <div class="f-info-socials">
      <a href="https://www.linkedin.com/in/aruncode49/" target="__blank"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
      <a href="https://github.com/aruncode49" target="__blank"
        ><i class="fa-brands fa-github"></i
      ></a>
      <a href="https://www.instagram.com/welcometoarunworld/" target="__blank"
        ><i class="fa-brands fa-square-instagram"></i
      ></a>
    </div>
    <div>&copy; WanderNest Private Limited</div>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
