<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WanderBuddy</title>
  </head>
  <body>
    <h2>All Listings</h2>
    <ul>
      <% allListings.forEach(listing => { %>
      <li><a href="/listings/<%= listing._id %>"><%= listing.title %></a></li>
      <% }) %>
    </ul>
  </body>
</html>
