@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* body */
body {
  font-family: "Poppins", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

/* main title */
.main-title {
  margin-top: 10px !important;
  margin-bottom: 10px;
  font-weight: 500 !important;
}

a {
  text-decoration: none !important;
}

/* Navbar */
.navbar {
  height: 5rem;
  background-color: white;
}

.navbar-collapse {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-brand {
  display: flex;
  align-items: center;
  gap: 6px;
}

.fa-location-dot {
  color: #fe424d;
  font-size: 2rem;
}

.nav-link {
  color: #222222 !important;
  font-size: 1.1rem !important;
}

.nav-link:hover {
  border-bottom: #222222 solid;
}

/* footer */

.f-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 8rem;
  background-color: #ebebeb;
}

.f-info {
  padding-top: 15px;
  padding-bottom: 15px;
}

.f-info-socials {
  display: flex;
  gap: 1rem;
}

.f-info-socials i {
  font-size: 1.3rem;
  cursor: pointer;
}

.f-info-links a {
  text-decoration: none;
  color: #222222;
  margin-right: 2px;
  margin-left: 2px;
}

.f-info-links a:hover {
  text-decoration: underline;
}

/* cards */
.card-container {
  margin-bottom: 20px;
}

.listing-card {
  border: none !important;
  margin-bottom: 1rem;
  border-radius: 1rem;
  overflow: hidden;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  height: 260px !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
  margin-left: 5px;
}

.card-text {
  font-weight: 400;
}

.card-title {
  margin-top: 10px;
  font-weight: 500;
}

.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}

/* create new listing */
.create-new-btn {
  background-color: #fe424d !important;
  border: none !important;
}

input::placeholder {
  color: rgb(124, 124, 124) !important;
  font-size: 14px !important;
}

textarea::placeholder {
  color: rgb(124, 124, 124) !important;
  font-size: 14px !important;
}

textarea {
  text-align: start !important;
}

.edit-btn {
  background-color: #f73541 !important;
  border: none !important;
}

/* Show page */
.show-img {
  height: 30vh;
}

.show-btns {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: -15px !important;
}

.show-btns a {
  padding-inline: 30px !important;
  background-color: #f73541 !important;
  border: none !important;
}

.show-btns button {
  padding-inline: 30px !important;
}
