/* Navbar */
.navbar {
  height: 5rem;
  background-color: white;
}

.fa-location-dot {
  color: #fe424d;
  font-size: 2rem;
}

.nav-link {
  color: #222222 !important;
  font-size: 1.1rem !important;
}
