<% layout('/layouts/boilerplate') -%>

<div class="row mb-4 mt-2">
  <div class="col-md-6 mx-auto px-4">
    <h3>Sign Up</h3>

    <form action="/signup" method="POST" novalidate class="needs-validation">
      <!-- username -->
      <div class="mb-3 mt-3">
        <label for="username" class="form-label">Username</label>
        <input
          class="form-control"
          id="username"
          type="text"
          name="username"
          spellcheck="false"
          placeholder="Enter username"
          required
        />
        <div class="invalid-feedback">Please enter a username</div>
      </div>

      <!-- email -->
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          class="form-control"
          id="email"
          type="email"
          name="email"
          spellcheck="false"
          placeholder="Enter your email"
          required
        />
        <div class="invalid-feedback">Please enter your email</div>
      </div>

      <!-- password -->
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          class="form-control"
          id="password"
          type="password"
          name="password"
          spellcheck="false"
          placeholder="Enter your password"
          required
        />
        <div class="invalid-feedback">Please enter a password</div>
      </div>

      <!-- submit button -->
      <button class="btn btn-success">Submit</button>
    </form>
  </div>
</div>
